.DS_Store
dhat-heap.json
/docs/_site
/docs/favicon.png
/docs/favicon.svg
/docs/fonts/*
/mkdocs.yml
/PKGBUILD
/WeenyTerm*.zip
/WeenyTerm*.exe
/weenyterm*.deb
/weenyterm*.tar.xz
/pkg
/target/
/termwiz/codegen/target
/termwiz/codegen/Cargo.lock
/gh_pages/
/.cache/
/docs/releases.json
/docs/SUMMARY.md
/docs/cli/cli/index.md
/docs/recipes/index.md
/docs/colorschemes/**/index.md
/docs/colorschemes/scheme.css
/docs/colorschemes/scheme.js
/docs/config/lua/color/index.md
/docs/config/lua/config/index.md
/docs/config/lua/gui-events/index.md
/docs/config/lua/keyassignment/index.md
/docs/config/lua/keyassignment/CopyMode/index.md
/docs/config/lua/mux-events/index.md
/docs/config/lua/mux-window/index.md
/docs/config/lua/MuxDomain/index.md
/docs/config/lua/MuxTab/index.md
/docs/config/lua/MuxPane/index.md
/docs/config/lua/pane/index.md
/docs/config/lua/weenyterm.color/index.md
/docs/config/lua/weenyterm.gui/index.md
/docs/config/lua/weenyterm.mux/index.md
/docs/config/lua/weenyterm.procinfo/index.md
/docs/config/lua/weenyterm.serde/index.md
/docs/config/lua/weenyterm.time/index.md
/docs/config/lua/weenyterm.time/Time/index.md
/docs/config/lua/weenyterm.url/index.md
/docs/config/lua/weenyterm/index.md
/docs/config/lua/window-events/index.md
/docs/config/lua/window/index.md
/docs/mermaid.min.js
**/*.rs.bk
.*.sw*
/esctest.log
/AppDir
/WeenyTerm*.AppImage
/WeenyTerm*.AppImage.zsync
/WeenyTerm-macos-*
/weenyterm*-src.tar.gz
/weenyterm-linuxbrew.rb
/weenyterm.rb
/perf.data*
.idea/
/winget-pkgs
/assets/flatpak/generated-sources.json
/__pycache__/
/nix/result
